#team {
	width: 100%;
}
#team h2 {
	padding: 60px 0 27px;
	color: $textBlue;
	text-align: center;
	line-height: 22px;
	@include respond-to(small) {
		padding-top: 35px;
	}
}
#team p {
	color: $textLtGrey;
	text-align: center;
	@include respond-to(small) {
		width: 300px;
		margin: 0 auto;
		font-size: 13px;
	}
}
.bios {
	width: 100%;
	padding: 30px 0;
	display: flex;
	@include respond-to(medium) {
		flex-direction: column;
	}
}

.bio1, .bio2, .bio3 {
	width: calc(33% - 25px);
	margin: 0 auto;
	height: 390px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	@include respond-to(medium) {
		width: 90%;
		margin: 0 auto;
	}
}
.bioTitle p{
	@include respond-to(small) {
		font-size: 20px;
	}
}
.bio1, .bio3 {
	border: 2px solid #d8d7d7;
	border-radius: 8px;
}
.bio1 img, 
.bio3 img {
	width: 100px;
	margin: 20px 0 0 0;
}

.bio2 {
    background-image:
        linear-gradient(90deg, rgba(135,133,255,.6) 5%, rgba(123,253,252,.6) 100%), 
        url('../assets/e_middle.png');
    background-size: cover;
    border-radius: 8px;
    height: 390px;
    position: relative;
    @include respond-to(medium) {
		margin: 20px auto;
	}
}
.socialBar {
	display: flex;
	margin: 0 auto;
	padding: 5px 0;
	background-color:  #ffffff;
	width: 192px;
	height: 37px;
	border-radius: 5px;
	justify-content: center;
}
.socialBar__bio2 {
	position: absolute;
	bottom: 17px;
	left: 50%;
	transform: translateX(-50%);
}
.socialBar li {
	padding: 0 10px;
}
.socialBar a {
	color: black;
}
.socialBar i {
	font-size: 12px;
}
.bio__name {
	margin: 0;
	padding: 0;
	font-size: 20px;
}
.bio__info {
	padding: 0 25px;
}
