html {
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}
h1 {
	font-size: 50px;
	line-height: 72px;
	@include respond-to(medium) {
		font-size: 25px;
		line-height: 36px;
	}
	@include respond-to(small) {
		font-size: 25px;
		line-height: 36px;
	}
}
h2 {
	font-size: 31px;
	line-height: 59px;
	@include respond-to(medium) {
		font-size: 20px;
		line-height: 30px;
	}
	@include respond-to(small) {
		font-size: 20px;
		line-height: 30px;
	}
}
h3 {
	font-size: 40px;
	line-height: 55px;
	@include respond-to(medium) {
		font-size: 20px;
		line-height: 27px;
	}
	@include respond-to(small) {
		font-size: 20px;
		line-height: 27px;
	}
}
h4 {
	font-size: 60px;
	@include respond-to(medium) {
		font-size: 30px;
		line-height: 18px;
	}
	@include respond-to(small) {
		font-size: 30px;
		line-height: 18px;
	}
}
p {
	font-size: 14px;
	line-height: 25px;
	
}