$textBlue: #23b7ef;
$textWhite: #ffffff;
$textLtGrey: #6d6d6d;
$textHover: #b2b6b8;
$textDkGrey: #4f4f4f;
$buttonGrey: #949494;
$textTeam: #201f1f;
$socialIcon: #000000;
$textAwardNumber: #2d2d2d;
$textBottomFoot: #afafaf;